In [1]:
import numpy as np

In [2]:
marks_of_students=np.random.randint(low=0,high=100,size=(1000,6))

In [3]:
marks_of_students

array([[15, 15, 57, 61, 15, 74],
       [87, 18, 88, 76, 89,  2],
       [35, 74, 14, 10, 99, 96],
       ...,
       [ 3,  6, 31, 21, 35, 69],
       [ 5, 53, 57, 40,  7, 11],
       [44,  3, 30, 77, 54, 88]])

In [4]:
import pandas as pd

In [5]:
marks_data=pd.DataFrame(data=marks_of_students,columns=['C++','DSA','COA','OS','CD','ML'])

In [6]:
marks_data

     C++  DSA  COA  OS  CD  ML
0     15   15   57  61  15  74
1     87   18   88  76  89   2
2     35   74   14  10  99  96
3     41   63   99  34  57   4
4      2    6   44  95   6  82
..   ...  ...  ...  ..  ..  ..
995   53   56   68  45  23  93
996   86    0   33   8   5   7
997    3    6   31  21  35  69
998    5   53   57  40   7  11
999   44    3   30  77  54  88

[1000 rows x 6 columns]

#### BOOLEAN MASKING

In [7]:
marks_data['ML']>50

0       True
1      False
2       True
3      False
4       True
       ...
995     True
996    False
997     True
998    False
999     True
Name: ML, Length: 1000, dtype: bool

In [8]:
marks_in_ML_GOOD=marks_data[marks_data['ML']>50]
marks_in_ML_GOOD

     C++  DSA  COA  OS  CD  ML
0     15   15   57  61  15  74
2     35   74   14  10  99  96
4      2    6   44  95   6  82
5     75   36   10  86  34  54
7     13   95   25  10  52  73
..   ...  ...  ...  ..  ..  ..
990   14   25   46  96  32  99
993   73   50   61  51  24  80
995   53   56   68  45  23  93
997    3    6   31  21  35  69
999   44    3   30  77  54  88

[514 rows x 6 columns]

In [9]:
marks_in_cpp_dsa_coa_good=(marks_in_ML_GOOD['C++']>=50) &  (marks_in_ML_GOOD['DSA']>=50) &  (marks_in_ML_GOOD['COA']>=50)
marks_in_cpp_dsa_coa_good

0      False
2      False
4      False
5      False
7      False
       ...
990    False
993     True
995     True
997    False
999    False
Length: 514, dtype: bool

In [10]:
boolean_mask=(marks_in_ML_GOOD['C++']>=50) &  (marks_in_ML_GOOD['DSA']>=50) &  (marks_in_ML_GOOD['COA']>=50)

In [11]:
marks_in_cpp_dsa_coa_good=marks_in_ML_GOOD[boolean_mask]
marks_in_cpp_dsa_coa_good

     C++  DSA  COA  OS  CD  ML
28    61   82   64  78  48  93
29    88   68   71  21  85  71
78    82   83   95   1  33  52
133   81   51   95  58  84  96
142   98   66   94  35  49  59
..   ...  ...  ...  ..  ..  ..
977   75   58   56  59  84  57
986   68   82   74  33  11  84
988   91   65   61   1  14  57
993   73   50   61  51  24  80
995   53   56   68  45  23  93

[73 rows x 6 columns]

In [12]:
P_C_DSA_COA_On_ML=marks_in_cpp_dsa_coa_good.shape[0]/marks_in_ML_GOOD.shape[0]

In [13]:
P_C_DSA_COA_On_ML

0.14202334630350194

In [14]:
71/489

0.14519427402862986

Dataset

In [15]:
bank=pd.read_csv("C:\\Users\\Pratik1\Desktop\ML_DL_AI\MACHINE_LEARNING=CLASS+PRACTICE\TIME_SERIES_ANALYSIS\\Datasets\\bank.csv")

In [50]:
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [17]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

what is the probability  to select man have job blue collar and he is married?

\begin{equation}
P(job=blue collar|marrital=married) = \frac{P(job=blue collar\cap marital=married )}{P(marrital=married)}
\end{equation}

In [18]:
print(bank[bank['marital']== 'married'].shape[0])

6351

In [34]:
P_EQUALS_MARRIED=bank[bank['marital']== 'married'].shape[0]/11162
P_EQUALS_MARRIED

0.5689840530370901

In [35]:
P_Blue_collar_married=bank[(bank['job']=='blue-collar') & (bank['marital']=='married')].shape[0]/11162

In [36]:
P_Blue_collar_married

0.11960222182404587

In [37]:
bank[(bank['job']=='blue-collar') & (bank['marital']=='married')].shape[0]/11162

0.11960222182404587

In [38]:
P_COLLAR_married=P_Blue_collar_married/P_EQUALS_MARRIED

In [39]:
P_COLLAR_married

0.21020311761927257

In [40]:
bank[(bank['job']=='blue-collar') & (bank['marital']=='married')].shape[0]/(bank[bank['marital']== 'married'].shape[0])

0.21020311761927254

\begin{equation}
P(age>=35 | marrital==divorsed)
\end{equation}

\begin{equation}
P(Age>=35|marrital=divorsed) = \frac{P(Age>=35\cap marital=divorsed )}{P(marrital=divorsed)}
\end{equation}

In [47]:
bank[(bank['age']>=35) & (bank['marital']=='divorsed')].shape[0]

0

In [49]:
'''bank[(bank['age']>=35) & (bank['marital']=='divorsed')].shape[0]/(bank[bank['marital']== 'divorsed'].shape[0])'''

"bank[(bank['age']>=35) & (bank['marital']=='divorsed')].shape[0]/(bank[bank['marital']== 'divorsed'].shape[0])"

#### independant or dependant

In [51]:
bank['job'].unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

\begin{equation}
P(Age<=35\cap marital=divorsed \cap loan=no \cap contact=cellular)
\end{equation}

In [58]:
bank[(bank['age'] <= 45) & (bank['marital']=='married') & (bank['loan']=='no') & (bank['contact']=='cellular')].shape[0]/11162

0.19593262856118976